<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/our-services">Our services</a></li>
          <li><a href="/contact-us">Contact-us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>
        much split, &nbsp;&nbsp; very rainbow, &nbsp;&nbsp; so &lt;hr&gt;,
        &nbsp;&nbsp; wow!
      </h1>

      <b class="hr"></b>

      <br /><br />

      <h2>such animate, &nbsp;&nbsp; many secret, &nbsp;&nbsp; do hover.</h2>
      <b class="hr anim"></b>

      <a href="/oups" class="myButton">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Click me 3:) !
      </a>
    </main>
  </body>
</html>
